.login-body{
    display: flex;
    flex-direction: column;
    height: 95vh;
}

.close-button{
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    height: 10vh;
    cursor: pointer;
}

.login-body .fa-solid {
    font-size: 32px;
}

.form-container{
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container form input{
    width: 300px;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

h1{
    margin-bottom: 1rem;
}

.form-container form input[type="submit"]{
    width: 100px;
    border: none;
    cursor: pointer;
}

.warning-box{
    display: none;
    height: 3rem;
    width: 50%;
    background-color: rgb(232, 118, 118);
}